/* font-family: 'Berkshire Swash', cursive;
font-family: 'Manrope', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700&display=swap");

/* Default Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}
img {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
/* Hero senction */
#hero {
  background-image: url(../img/hero-image.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.main-content {
  display: flex;
}
.hero-content {
  text-align: center;
}
.hero-content h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 3rem;
}
.hero-content p {
  font-weight: 600;
}
/* Hero senction end */






/* Player section */
main {
  background-color: #151515;
}
.main-content {
  width: 100%;
  padding: 4rem 0;
}
.player-content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calculations {
  width: 25%;
}
.player {
  width: 22rem;
  border: 1px solid #ddd;
  flex-grow: 1;
  margin: .3rem;
  background-color: #0D0D0D;
}
/* Player section end */
